## 6.12: Samenvatting


<ul>
<li>6.1: <strong>Gegevens toevoegen met <code>INSERT INTO ... VALUES (...)</code></strong>
        <ul>
        <li>Voorbeeld. Voeg een nieuwe pizza toe: <code>INSERT INTO pizza VALUES (NULL, 'Pizza Hawaii', 'Ham en ananas', 8.50);</code></li>
        <li>Bij tabellen met een <code>AUTOINCREMENT</code>-kolom gebruik je achter <code>VALUES</code> een <code>NULL</code> om automatisch te laten nummeren.</li>
        <li>De volgorde van waarden bij moet overeenkomen met de kolomvolgorde van de tabel.</li>
        <li>Tekstwaarden zet je tussen aanhalingstekens, getallen niet.</li>
        </ul>


  <li>6.2: <strong>Gegevens verwijderen met <code>DELETE FROM ... WHERE ...</code></strong>
    <ul>
      <li>Voorbeeld. Verwijder de pizza met pizzacode 1: <code>DELETE FROM pizza WHERE pizzacode = 1;</code></li>
      <li>Zonder <code>WHERE</code> worden alle rijen in de tabel verwijderd!</li>
      <li>Gebruik bij voorkeur de <code>primary key</code> als voorwaarde.</li>
    </ul>
  </li>

  <li>6.3: <strong>Gegevens aanpassen met <code>UPDATE ... SET ... WHERE ...</code></strong>
    <ul>
      <li>Voorbeeld. Wijzig de naam van een pizza: <code>UPDATE pizza SET naam = "Hawaii" WHERE pizzacode = 1;</code></li>
      <li>Gebruk een <code>WHERE</code>, anders worden alle rijen aangepast.</li>
    </ul>
  </li>

  <li>6.4: <strong>Nieuwe tabellen maken met <code>CREATE TABLE</code></strong>
    <ul>
      <li>Voorbeeld. Maak een nieuw tabel <i>pizza</i> aan:<br>
        <code>CREATE TABLE pizza (pizzacode INTEGER PRIMARY KEY AUTOINCREMENT, naam TEXT, basisprijs REAL);</code></li>
      <li>Elke kolom heeft een datatype: <code>TEXT</code>, <code>INTEGER</code>, <code>REAL</code>.</li>
      <li>Een <code>PRIMARY KEY AUTOINCREMENT</code> zorgt voor automatisch doornummeren van de primary key.</li>
    </ul>
  </li>

  <li>6.5: <strong>Een tabel verwijderen met <code>DROP TABLE</code></strong>
    <ul>
      <li>Voorbeeld. Verwijder tabel <i>kortingsbon</i>: <code>DROP TABLE kortingsbon;</code></li>
      <li>De hele tabel en alle gegevens worden verwijderd. Dit kan niet ongedaan worden gemaakt.</li>>
    </ul>
  </li>

  <li>6.6: <strong>Een kolom toevoegen met <code>ALTER TABLE ... ADD</code></strong>
    <ul>
      <li>Voorbeeld. Voeg kolom <b>bezorger</b> toe: <code>ALTER TABLE bezorger ADD email TEXT;</code></li>
      <li>Voeg aan een bestaande tabel een nieuwe kolom toe met de kolomnaam en het datatype.</li>
    </ul>
  </li>

  <li>6.7: <strong>Een kolom hernoemen met <code>ALTER TABLE ... RENAME COLUMN</code></strong>
    <ul>
      <li>Voorbeeld. Hernoem kolom <b>plusprijs</b>: <code>ALTER TABLE bodem RENAME COLUMN plusprijs TO toeslag;</code></li>
      <li>Gebruik dit als je kolomnamen duidelijker of consistenter wilt maken.</li>
    </ul>
  </li>

  <li>6.8: <strong>Een tabel hernoemen met <code>ALTER TABLE ... RENAME TO</code></strong>
    <ul>
      <li>Voorbeeld. Hernoem de tabel <i>bezorger</i>: <code>ALTER TABLE bezorger RENAME TO medewerker;</code></li>
    </ul>
  </li>

  <li>6.9: <strong>Tabellen koppelen met een foreign key</strong>
    <ul>
      <li>Een <b>foreign key</b> is een verwijzing van een kolom in de ene tabel naar de <code>primary key</code> van een andere tabel.</li>
      <li>De kolommen die aan elkaar gekoppeld zijn (bijvoorbeeld <code>boncode</code>) moeten dezelfde soort gegevens bevatten.</li>
      <li>Door deze koppeling kun je bij elke bestelling direct de juiste kortingsgegevens opzoeken.</li>
      <li>Voorbeeld: in tabel <code>bestelling</code> staat bij <code>boncode</code> de waarde 2. Die verwijst naar de <code>boncode</code> 2 in tabel <code>kortingsbonnen</code>, waar de bijbehorende korting staat.</li>
    </ul>
  </li>

<li>6.10: <strong>Een foreign key aanmaken in een nieuwe tabel met <code>CREATE TABLE</code></strong>
    <ul>
      <li>Een foreign key maak je direct aan bij het maken van een tabel met: <code>FOREIGN KEY (kolom) REFERENCES andere_tabel(primary_key)</code>.</li>
      <li>De foreign key verwijst naar een bestaande primary key van een andere tabel.</li>
      <li>Voorbeeld. Koppelen van foreign key-kolom <b>bestelcode</b> naar kolom <b>bestelcode</b> in tabel <i>bestelling</i>:  <pre><code>CREATE TABLE besteldePizza (
      bestelcode INTEGER,
      FOREIGN KEY (bestelcode) REFERENCES bestelling(bestelcode)
      );</code></pre></li>
      <li>Let op: je kunt in SQLite geen foreign key toevoegen aan een al bestaande tabel.</li>
    </ul>
</li>



  <li><p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen van Danilo's Pizzeria.</p>
  
</ul>