
## 3.6: Logische operator NOT
<p>Met <b>NOT</b> (NIET) mag er aan géén van de voorwaarden voldaan worden.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bijvoorbeeld, alle klanten die <b>niet</b> in Hengelo wonen:

```SQL
SELECT *
FROM klant
WHERE NOT woonplaats = 'Hengelo';
```
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>klantnummer</th>
      <th>wachtwoord</th>
      <th>naam</th>
      <th>adres</th>
      <th>postcode</th>
      <th>woonplaats</th>
      <th>telefoon</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>101</td><td>uqOpgECQ_</td><td>Hanneke Bolier</td><td>Gladioolstraat 11</td><td>3742TC</td><td>Enschede</td><td>06-16915427</td></tr>
    <tr><td>103</td><td>id4m9g2_PHp10t</td><td>Erika de Vries</td><td>Banckertlaan 7</td><td>3742MG</td><td>Enschede</td><td>06-79118502</td></tr>
    <tr><td>104</td><td>84t9TPLOZKZ</td><td>Nelleke op den Brouw</td><td>Talmalaan 11</td><td>3741T2</td><td>Enschede</td><td>035-6014464</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td></tr>
  </tbody>
</table>

</td></tr></table>


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Of bijvoorbeeld, alle pizza's waarbij de letter 'e' er <b>niet</b> in voorkomt:

```SQL
SELECT naam
FROM pizza
WHERE naam NOT LIKE '%e%';
```
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Prosciutto</td></tr>
    <tr><td>Funghi</td></tr>
    <tr><td>Cippola</td></tr>
    <tr><td>Hawai</td></tr>
    <tr><td>...</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 3.6.1 Alle pizza's zonder kip

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon een overzicht van alle pizza's waar <b>geen</b> kip op zit, dus ook geen kipfilet, zoals in het voorbeeld hieronder.

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>pizzanaam</th>
      <th>omschrijving</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Margheritta</td>
      <td>Tomaat, kaas en oregano</td>
    </tr>
    <tr>
      <td>Napoletana</td>
      <td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td>
    </tr>
    <tr>
      <td>Prosciutto</td>
      <td>Tomaat, kaas, ham en oregano</td>
    </tr>
    <tr>
      <td>Funghi</td>
      <td>Tomaat, kaas, champignons en oregano</td>
    </tr>
    <tr>
      <td>Salame</td>
      <td>Tomaat, kaas, salami en oregano</td>
    </tr>
  </tbody>
</table>


</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave361" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql"> 
SELECT naam AS pizzanaam, omschrijving
FROM pizza
WHERE omschrijving NOT LIKE '%kip%';
</code></pre>
ook goed:
<pre><code class="language-sql"> 
ANTWOORD: 
SELECT naam, omschrijving
FROM pizza
WHERE NOT omschrijving LIKE '%kip%';
</code></pre>
-->