
## 3.5: Logische operator OR (OF)
Je kunt de WHERE voorwaarde ook uitbreiden met de logische operatoren AND, OR, NOT of combinaties daarvan. 


Met <b>OR</b> (OF) moet aan één van de voorwaarden voldaan worden.
<table width="100%">
 <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Bijvoorbeeld, de volgende query toont alle pizza's die met 'M' beginnen OF een basisprijs onder de 7 euro hebben:

```SQL
SELECT naam, basisprijs
FROM pizza
WHERE naam LIKE 'M%' OR basisprijs < 7;
```
   </td>
    <td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>6.0</td></tr>
    <tr><td>Cippola</td><td>6.5</td></tr>
    <tr><td>Marinara</td><td>8.5</td></tr>
    <tr><td>Mozzarella</td><td>8.5</td></tr>
  </tbody>
</table>


 </td>
  </tr>
</table>



### Verwerkingsopdracht 3.5.1 Bestellingen met bestelcode

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>Toon alle informatie over zowel bestellingen bestelcode 13 <b>en</b> die met bestelcode 30, zoals hiernaast.</p>
</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>bestelcode</th>
      <th>datum</th>
      <th>bestel_tijd</th>
      <th>bezorg_tijd</th>
      <th>bezorgernummer</th>
      <th>klantnummer</th>
      <th>korting</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13</td>
      <td>2021-12-03</td>
      <td>17:33:00</td>
      <td>17:48:00</td>
      <td>5</td>
      <td>279</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>30</td>
      <td>2021-12-05</td>
      <td>17:55:00</td>
      <td>18:11:00</td>
      <td>8</td>
      <td>376</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>



</td></tr></table>

<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>




<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave351" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT *
FROM bestelling
WHERE bestelcode = 13 OR bestelcode = 30;
</code></pre>
-->

### Verwerkingsopdracht 3.5.2 Alle goedkope of gezonde pizza's

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Maak een overzicht van alle pizza's goedkoper zijn dan €7,50 <b>of</b> fruit bevatten.
</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Margherita</td>
      <td>Tomaat,kaas en oregano</td>
      <td>6</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Cippola</td>
      <td>Tomaat, kaas, uien en oregano</td>
      <td>6.5</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Tropicale</td>
      <td>Tomaat, kaas en fruit cocktail</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

</td></tr></table>





<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave352" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT *
FROM pizza
WHERE basisprijs<7.50 OR omschrijving LIKE '%fruit%';
</code></pre>
-->