## 5.1 Gegevens uit meerdere tabellen combineren


<p>Tot nu toe heb je geleerd hoe je gegevens uit één tabel opvraagt. Maar soms wil je gegevens uit meerdere tabellen combineren. Daarvoor gebruik je <em>JOIN .. ON ..</em>.</p>

<p>Stel je voor: je wilt van elk <b>besteldepizzacode</b> weten hoe de pizza heet. <br>
In de tabel <em>besteldepizza</em> zie je welke pizza is besteld, maar niet de naam — alleen een <em>pizzacode</em>. De namen van de pizza’s staan in een andere tabel: <em>pizza</em>. Als je wilt weten welke pizza’s er precies besteld zijn, moet je gegevens <strong>uit beide tabellen combineren</strong>.</p>

<p>Zoals je ziet:</p>
<ul>
  <li><em>besteldepizza</em> staat wél dat pizzacode 101 besteld is,</li>
  <li>maar alleen in tabel <em>pizza</em> staat dat dit de <em>Margherita</em> is.</li>
</ul>

<table>
<tr><td>
Tabel: <em>besteldepizza</em>


<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzacode</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>101</td></tr>
    <tr><td>2</td><td>102</td></tr>
    <tr><td>3</td><td>103</td></tr>
  </tbody>
</table>
</td><td>


Tabel: <em>pizza</em>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>101</td><td>Margherita</td></tr>
    <tr><td>102</td><td>Quattro Formaggi</td></tr>
    <tr><td>103</td><td>Salami</td></tr>
  </tbody>
</table>
</td></tr></table>



<p>In het <b>ERD-schema</b> (Entity-Relationship Diagram) hieronder zie je een overzicht van de tabellen en hoe ze met elkaar verbonden zijn. De pijlen geven de koppelingen tussen tabellen aan. Een bestelde pizza (in tabel <i>besteldePizza</i>) heeft een <b>pizzacode</b>. Aan het pijltje zie je dat de gegevens over de pizza te vinden zijn in de tabel <i>pizza</i>.</p>

<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" alt="overzicht tabellen" width="500">


### Verwerkingsopdracht 5.1.1 Koppelingen tussen tabellen

Welke twee tabellen zijn in de ERD direct aan elkaar gekoppeld via de kolom pizzacode?

<ul style="list-style-type: upper-alpha;">
  <li><em>klant</em> en <em>bestelling</em></li>
  <li><em>klant</em> en <em>pizza</em></li>
  <li><em>bestelling</em> en <em>bezorger</em></li>
  <li><em>bodem</em> en <em>klant</em></li>
</ul>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave511" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
A (<em>klant</em> en <em>bestelling</em>).<p> Toelichting: De tabel <em>bestelling</em> bevat de kolom <b>klantnummer</b> die verwijst naar een rij in de tabel <em>klant</em>.</p>
-->